<section ng-controller="UsersController" id="searchuserview" ng-init="initFunctions.searchuser()">
    <div data-ng-show="!authentication.user">
        <p>請先登入</p>
        <a href="/signin">Signin</a>
        <a href="/signup">Signup</a>
    </div>

    <div data-ng-show="authentication.user">
        <form data-ng-submit="searchuser.search()" novalidate>
            <div class="form-group">
                <label>search:</label>
                <input type="text" name="username" data-ng-model="searchuser.searchname"/>
                <button class="btn btn-default" type="submit">查詢</button>
            </div>
        </form>
        <div ng-repeat="user in searchuser.searchresult">
            <a href="/user/{{user._id}}">{{user.username}}</a>
        </div>
    </div> 
</section>