<!-- The users view -->
<section ng-controller="UsersController" id="usersview">
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-show="!authentication.user">
		<a href="/_admin/signin">Signin</a>
		<a href="/_admin/signup">Signup</a>
		
	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
		<a href="/_admin/signout">Signout</a>


		<!-- upload photos -->
		<button ng-click="uploadptos.init()">上傳照片</button>
		<div ng-show="uploadptos.showupload">
			<form>
				<input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
				<!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
			</form>
			<img ng-src="{{imageSrc}}"/>
		</div>
		<!-- /upload photos -->

		<hr>

		<!-- test upload -->
		<form ng-controller="UsersController as up" name="up.upload_form">
                Single Image with validations
			<input type="file" ngf-select ng-model="up.file" name="file" 
			ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>

            Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>
			
			<i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
           <!--  Multiple files
            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
            <button type="submit" ng-click="up.submit()">submit</button>
            <p>{{up.progress}}</p>
        </form>
		<!-- /test upload -->


		
		<!-- show album -->
		<div ng-repeat="photo in photos">
			<p>{{photo.name}}</p><img ng-src="{{photo.path}}" alt="{{photo.path}}">
		</div>
		<!-- /show album -->
	</div>
</section>