<!-- The users view -->
<section ng-controller="UsersController" id="usersview" ng-init="initFunctions.userpage()">
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-show="!authentication.user">
		<a href="/signin">Signin</a>
		<a href="/signup">Signup</a>
		
	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.username"></span></h1>
		<a href="/signout">Signout</a>
		<a href="/searchuser">搜尋用戶</a>
		<a href="/cart">cart</a>
		<a href="/album">album</a>
		<a href="/chat/chatList">chat</a>
		

		<!-- photos upload -->
		<form name="upload_form">
                Single Image with validations
			<input type="file" ngf-select ng-model="uploadphotos.file" name="file" 
			ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>

            Image thumbnail: <img style="width:100px;" ng-show="!!uploadphotos.file" ngf-thumbnail="uploadphotos.file || '/thumb.jpg'"/>
			
			<i ng-show="upload_form.file.$error.required">*required</i><br>
            <i ng-show="upload_form.file.$error.maxSize">File too large 
            {{uploadphotos.file.size / 1000000|number:1}}MB: max 20M</i>
           <!--  Multiple files
            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
            <button type="submit" ng-click="uploadphotos.submit()">submit</button>
            <p>{{uploadphotos.progress}}</p>
		</form>
		<!-- /photos upload -->

		<!-- cart -->
		<div ng-repeat="photo in cart.items track by $index">
			<p>{{photo.originalname}}</p>
		</div>
		<!-- /cart -->
		
		<!-- show album -->
		<div ng-repeat="photo in showphotos.temp">
			<p>{{photo.info.originalname}}</p>
			<iframe ng-src="{{photo.thumbnail | trusted}}" frameborder="0"></iframe>
			<a ng-click="cart.addToCart(photo.info._id)" href="{{photo.thumbnail}}"><img style="width:100px;" ng-src="{{photo.thumbnail}}" alt="{{photo.thumbnail}}"></a>
			<a ng-click="photohandler.delete(photo.info._id)" href="">delete</a>
		</div>
		<!-- /show album -->



	</div>
</section>