<!-- The users view -->
<section ng-controller="UsersController" id="otherusersview" ng-init="initFunctions.otheruser()">
	<div data-ng-show="authentication.user._id===otheruser._id">
		<h1>Hello <span data-ng-bind="authentication.user.username"></span></h1>
		<a href="/_admin/signout">Signout</a>

		<!-- photos upload -->
		<form name="upload_form">
                Single Image with validations
			<input type="file" ngf-select ng-model="uploadphotos.file" name="file" 
			ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>

            Image thumbnail: <img style="width:100px;" ng-show="!!uploadphotos.file" ngf-thumbnail="uploadphotos.file || '/thumb.jpg'"/>
			
			<i ng-show="upload_form.file.$error.required">*required</i><br>
            <i ng-show="upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
           <!--  Multiple files
            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
            <button type="submit" ng-click="uploadphotos.submit()">submit</button>
            <p>{{up.progress}}</p>
		</form>
		<!-- /photos upload -->
    </div>

		
        <!-- show album -->
    <div>
        <div  data-ng-show="authentication.user._id != otheruser._id">
            <h3>{{otheruser.username}}'s home page</h3>
        </div>
        
		<div ng-repeat="photo in showphotos.temp">
			<p>{{photo.originalname}}</p><img style="width:100px;" ng-src="{{photo.path}}" alt="{{photo.path}}">
        </div>
    </div>
		<!-- /show album -->
	
</section>