<!-- The users view -->
<section ng-controller="UsersController" id="usersview">
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-show="!authentication.user">
		<a href="/_admin/signin">Signin</a>
		<a href="/_admin/signup">Signup</a>
		
	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
		<a href="/_admin/signout">Signout</a>

		<form>
			<input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
			<!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
		</form>
		
		<img ng-src="{{imageSrc}}" />

		<div ng-repeat="photo in photos">
			<p>{{photo.name}}</p><img ng-src="{{photo.path}}" alt="{{photo.path}}">
		</div>
	</div>
</section>