extends layout

block headcontent
    base(href='/')


block content
    script(type='text/javascript').
        window.user= !{user};
    h1= title
    p Welcome to _admin
    section(ng-view='')
    
    

 