extends layout

block headcontent
    base(href='/')


block content
    script(type='text/javascript').
        window.user= !{user};
    div.messages
    ul#messages

    form#submitMessage
      input#message(autocomplete='off')
      button Send

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/chat/views/js/chat.min.js')

    
