extends layout

block headcontent
    base(href='/')


block content
    script(type='text/javascript').
        window.user= !{user};
    
    ul#messages

    form#submitMessage(action='')
      input#message(autocomplete='off')
      button Send

    script(src='/socket.io/socket.io.js')
    script.
        var socket = io();

    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
        $(function () {
            //- 連接socket
            var socket = io();

            //- 發送訊息 emit到後端
            $('#submitMessage').submit(function(){
                socket.emit('chat message', $('#message').val() , user.username);
                $('#message').val('');
                return false;
            });

            //- 發送訊息 接收後端emit
            socket.on('chat message', function(msg , user){
                $('#messages').append($('<li>').text(user + ' : ' + msg));
            });

            
            //- 加入房間 emit到後端
            socket.emit('join', user.username);

            //- 通知房间内人员 接收後端emit
            socket.on('joined', function(sysMsg, users){
                $('#messages').append($('<li>').text(sysMsg));
            });            

        });
