extends layout

block headcontent
    script(type='text/javascript', src='/users.min.js')
    base(href='/')


block content
    script(type='text/javascript').
        window.user= !{user};
    section(ng-view='')